<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Dapper.Contrib" version="1.42" targetFramework="net45" />
  <package id="Dapper.Rainbow.MySql" version="0.7.1" targetFramework="net45" />
  <package id="DapperRepository" version="2.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.1" targetFramework="net45" />
  <package id="NReadability" version="1.4.9" targetFramework="net45" />
</packages>